<h1>SHOP - Items#index -</h1>
<br>
<% @items.each do |item| %>
  <ul><h3>- <%= item.name.capitalize %></h3></ul>
<% end %>


<div class="container-cards">
  <% @items.each do |item| %>
    <div class="card-trip">
      <img src="<%= item.image %>">
      <div class="card-trip-infos">
        <div>
          <h2><%= item.name %></h2>
        </div>
        <p class="card-trip-user avatar-bordered"><%= item.price %>c</p>
        <%= link_to 'aheter', avatar_items_path(avatar_id: current_user.avatar, item_id: item.id), method: :post %>
      </div>
    </div>
  <% end %>
</div>
