<!-- <div class="avatar-show-details">
  <li>Avatar's name: <%= @avatar.name %></li>
  <li>Gender: <%= @avatar.gender %></li>
  <li>Coins: <%= @avatar.wallet %> $</li>
  <li>Items:  <% @avatar.items.each do |item| %>
  <ul>- <%= item.name %></ul>
  <% end %></li>
  <li><%= link_to 'Edit Avatar', edit_user_avatar_path(current_user, @avatar)  %></li>
</div> -->
<!-- <div>
<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="#" class="menu-item blue"><%= @avatar.name %></a>
   <a href="#" class="menu-item green"><%= @avatar.wallet %>$</a>
   <a href="#" class="menu-item red"><%= @avatar.gender %></a>
   <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
</nav>
</div>
 -->

<!-- <div id="background">
<div class="righthand"><img src="/image/weapon2.png" alt=""></div>
</div>
 -->

 <div class="ninjacontainer">
  <div class="menu-ninja">
    <nav class="menu">
     <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
     <label class="menu-open-button" for="menu-open">
      <span class="lines line-1"></span>
      <span class="lines line-2"></span>
      <span class="lines line-3"></span>
    </label>

     <a href="<%= items_path %>" class="menu-item white">shop</a>
     <a href="#" class="menu-item pink"><%= @avatar.wallet %>💰</a>
     <button href="#" id="pocket" class="menu-item blue">sac</button>
     <a href="<%= edit_user_avatar_path(current_user, @avatar)  %>" class="menu-item red">Edit</a>
    </nav>
  </div>

   <div class="ninja"></div>
   <% if @avatar_item_image  %>
     <div class="righthand" style="background-image: url(<%= @avatar_weapon_image %>);"></div>
     <div class="leftthand" style="background-image: url(<%= @avatar_weapon_image %>);"></div>
     <div class="ribbon" style="background-image: url(<%= @avatar_ribbon_image %>);"></div>
     <div class="badge_ninja" style="background-image: url(<%= @avatar_badge_image %>);"></div>

   <% end %>

   <div id="backpack">
     <h1>Sac a dos</h1><hr>
        <ul><% @avatar.items.each do |item| %>
          <li class="card"><%= item.name %><%= link_to 'utiliser',   validate_avatar_item_path(avatar_id: current_user.avatar, item_id: item.id), method: :post %>
          <img src="<%= item.image %>">
          </li>
        <% end %>
      </ul>
   </div>
</div>
 <div class="play-button">
    <a href="<%= user_session_path %>" class= "btn btn-play mt-5" >play</a>
  </div>

